# ---------------------------------------------------------------
# Config Structure: GroupName | SourceName | SourceFileLocation
# ---------------------------------------------------------------
# GroupName: The name of the collective group the logs will be organized under
# SourceName: The identifier of the source file. This will be logged out under the group's log to identify the source of the log
# SourceFileLocation: The location of the file you would like to tail
# ---------------------------------------------------------------

